@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome <br />
        to the Student Management System</h1>
    <p>This system allows you to manage student and course information.</p>
</div>
