@page
@model StudentsManagementApp.Pages.StudenetInformationModel
@{
}
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <h2>Student Information</h2>
    <asp:GridView ID="GridViewStudents" runat="server" AutoGenerateColumns="True"></asp:GridView>
</asp:Content>

